body {
  background-color: #f0f0f0; /* Light gray background */
  font-family: Arial, sans-serif; /* Choose a common font for readability */

}


.container {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  
}

button, a {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1rem;
}

button, a:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

h2 {
  color: #333; /* Dark gray text */
  margin: 10vh;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20vh;

}